{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- Formatted citation -->
    <p>{{ post.citation }}. {{ post.author }}. {{ post.date | date: "%Y" }}. <i>{{ title }}</i>. <em>{{ post.venue }}</em>. <a href="{{ base_path }}/files/{{ post.pdf_filename }}">PDF</a></p>

  </article>
</div>
